.pages-content {
    display: flex;
    width: 100%;
    padding: 48px 48px 20px calc(48px + 264px);
    background-color: var(--brown-extra-light);
    min-height: 100vh;
}

app-toasts {
    width: -webkit-fill-available;
    padding-right: 64px;
    position: fixed !important;
}

@media (max-width: 800px) {
    .pages-content {
        padding-left: 65px;
    }
}


@media (max-width: 540px) {
    .pages-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

