<header class="d-flex justify-content-between align-items-center">
    <img class="logo" (click)="openMenu()" src="../../../../assets/img/logo.svg" alt="">

    <div class="d-flex align-items-center">
        <img class="me-2" src="../../../../assets/img/profile-img.svg" alt="">
        <p class="user-name mb-0 me-2"> {{loggedUser.name}}</p>
        <div ngbDropdown>
            <img class="c-p" src="../../../../assets/img/arrow-down-white.svg" alt="" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                ngbDropdownToggle>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="logout()">Sair</button>
            </div>
        </div>
    </div>
</header>