main {
    .title {
        font-size: 18px;
        font-weight: 600;
    }

    .card-principal {
        width: 100%;
        border-radius: 8px;
        background-color: white;
        font-size: 16px;
        padding: 16px;
        margin-top: 32px;
    }

    .card-wine-cellars,
    .card-results,
    .card-feedbacks {
        margin-top: 32px;
        width: 100%;
        border-radius: 8px;
        background-color: white;
        font-size: 16px;
        padding: 16px;
    }

    .card-feedbacks {
        margin-bottom: 32px;
    }

    .no-wine-cellars {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 48px 0;
        font-size: 14px;
    }

    .w-25 {
        width: 25%;
    }

    .table-config {
        margin-top: 32px;
    }

    .subtitle {
        font-weight: 700;
    }
}