<main>


    <div class="card-results">
        <div class="title">Detalhes do usuário</div>
        <hr style="margin: 16px 0 24px 0;">
        <div *ngIf="userSelected">
            <div class="search">
                <div class="d-flex align-items-end justify-content-between">
                    <div class="form-group d-flex flex-column w-50 me-4">
                        <input type="text" placeholder="Digite o nome">
                    </div>
                </div>
            </div>

            <div class="w-100 table-config">
                <table>
                    <th class="text-start">Nome</th>
                    <th class="text-start">E-mail</th>
                    <th class="text-center">CPF/CNPJ</th>
                    <th class="text-center">Celular</th>
                    <th class="text-end">Status</th>
                    <tr class="">
                        <td class="text-start text-truncate">{{userSelected.name}}</td>
                        <td class="text-start text-truncate">{{userSelected.email}}</td>
                        <td class="text-center">{{userSelected.cpfCnpj}}</td>
                        <td class="text-center">{{userSelected.cellphone}}</td>
                        <td class="text-end">{{userSelected.userStatusEnum === 'ACTIVE' ? 'Ativo' : 'Inativo'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card-principal">
        <div class="title">Nova adega</div>

        <hr style="margin: 16px 0 24px 0;">
        <button (click)="addWineCellar()" class="primary-btn medium">Adicionar adega</button>
    </div>


    <div class="card-wine-cellars">
        <div class="title">Todas as adegas</div>
        <hr style="margin: 16px 0 24px 0;">

        <div *ngIf="wineCellarList && wineCellarList.length > 0">
            <!--     <div class="search">
                <div class="d-flex align-items-end justify-content-between">
                    <div class="form-group d-flex flex-column w-50 me-4">
                        <input type="text" placeholder="Digite o nome">
                    </div>
                </div>
            </div> -->

            <div class="w-100 table-config">
                <table>
                    <th class="text-start w-25">Nome</th>
                    <th class="text-start w-25">Data de criação</th>
                    <th class="text-center w-25">Adega automatizada</th>
                    <th class="text-center w-25">Ação</th>
                    <tr *ngFor="let wineCellar of wineCellarList; index as i" class="">
                        <td class="text-start w-25 text-truncate">{{wineCellar.name}}</td>
                        <td class="text-start w-25 text-truncate">{{wineCellar.dateHourIncluded | date: 'dd/MM/yyyy
                            HH:mm'}}h</td>
                        <td class="text-center w-25 text-truncate">{{wineCellar.automated === true ? 'Sim' : 'Não'}}
                        </td>
                        <td class="text-center w-25 c-p" (click)="exclude(wineCellar)"><img
                                src="../../../assets/img/trash.svg" alt=""></td>
                    </tr>
                </table>
            </div>
        </div>
        <div *ngIf="wineCellarList && wineCellarList.length === 0" class="no-wine-cellars">
            <i>Nenhuma adega encontrada</i>
        </div>
    </div>


</main>