main {
    .player {
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--secondary-extra-light);
        border-radius: 8px;
        color: var(--gray-dark);
        font-weight: 500;
        margin-top: 18px;
    }

   h5{
       margin-bottom: 24px;
   }

    .buttons-accept {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }
}
